body,html{
    background-color:rgb(241, 232, 220) ;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inputTerminalOne{
    
    display: flex;
    justify-content: center;
    height: 400px;
    width: 300px;
    margin: 50px;
    position: absolute;
    left: 60px;
    top: 20px;
    border-radius: 50px;
    font-style:italic;
}

.inputTerminalTwo{
    display: flex;
    height: 400px;
    width: 300px;
    position: absolute;
    margin: 50px;
    right: 60px;
    top: 20px;
    font-style:italic;
}

.PollOneTitle{
    background-color: rgb(222, 213, 201);
    border: solid white 1px;
    position: absolute;
    top:5%; 
    margin: 2px;
    width: 100%;
    text-align: center;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.InputTeamOne{
    background-color: rgb(222, 213, 201);
    border: solid white 1px;
    position: absolute;
    top:25%; 
    margin: 2px;
    width: 100%;
    text-align: center;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.InputTeamOne:hover,
.InputTeamTwo:hover,
.InputTeamThree:hover{
    background-color: rgb(236, 228, 217);
    box-shadow: 5px 5px 0px rgb(239, 221, 196);;
}

.InputTeamTwo{
    background-color: rgb(222, 213, 201);
    border: solid white 1px;
    position: absolute;
    top: 50%; 
    margin: 2px;
    width: 100%;
    text-align: center;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.InputTeamThree{
    background-color: rgb(222, 213, 201);
    border: solid white 1px;
    position: absolute;
    top:75%; 
    margin: 2px;
    width: 100%;
    text-align: center;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}

.generateLeague{
    border-radius: 10px;
    width:150px ;
    height:30px ;
    background-color: rgb(236, 200, 155);
    position: absolute;
    top: 90%;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generateLeague:hover{
    background-color:rgb(238, 215, 188) ;
    box-shadow: 5px 5px 0px rgb(190, 219, 245);
}

th, td{
    border: 1px solid black;
    }

.table1{
    visibility: hidden;
    width: 300px;
    margin: 50px;
    position: absolute;
    left: 60px;
    top: 45%;
    border-radius: 50px;
    font-style:italic;
    }

.table2{
    visibility: hidden;
    width: 300px;
    position: absolute;
    margin: 50px;
    right: 60px;
    top: 45%;
    font-style:italic;
    border-radius: 50px;
}